.App {
    height : 100vh;
    display : flex;
    flex-direction : column;
    justify-content: center;
    box-sizing: border-box;
}

.App > div {
    margin : auto;
    padding : 50px 80px;
    width : 500px;
    display : flex;
    flex-direction: column;
    justify-content : space-evenly;
    align-items : center;
    
    border : solid 2px #000;
    border-radius : 5px;
}

.App > div > div {
    width : 100%;
    
}

.button-group {
    display : flex;
    justify-content: space-evenly;
}

button {
    display : inline-block;
    padding : 10px 50px ;
    border : 0px;
    border-radius : 5px;
    background-color : var(--color-point);
    font-size : 1.5rem;
    font-weight : 800;
}

button:last-child {
    background-color :var(--color-gray);
}

input {
    border : none;
    border-radius : 3px;
    background-color : var(--color-input-background);
}

a {
    color : #000;
    text-decoration: none;
}